* {
    margin: 0;
    
}
html, body {
    height: 100%;
    font-family: sans-serif;
    font-size: 3vh;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

body {
	background: #FFA500;
}

.header {
    color: white;
    height: 3.25rem;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    background: #F7D708;
}

.header img {
  float: left;
  height: 100%;
}

.header h1 {
  margin-left: 5%;
}

div {
    color: white;
    text-align: center;
    padding: 1rem;
    border: 1rem;
    font-family: sans-serif;
    font-size: 0.6rem;
    
}

a {
	 color: lightcyan;
    font-style: italic;
    font-weight: bold;
}

.paragraphText {
 padding: 0.5rem;   
}

#authors { 
 font-size: 1.0rem;
 font-weight: bold;
}
